html {
  scroll-behavior: smooth;
}
img{
  z-index:10;
}
section{
  width:100%;
}
body {
  background-color: #000000;;
  color: #ffffff;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #ffffff;
  transition: all 0.3s ease;
}

.menu {
  float: right;
}

.title {
  color: #3d3d3d;
  font-weight: 700;
}

